
p { margin-top: 0; 
	line-height: 1.25em;
	font-family: 'Nunito';
	letter-spacing: .04em;
	max-width: 60%;
	font-size:25px;

}

h1{
	letter-spacing: .15em;
	font-family: 'Quicksand', sans-serif;
	font-size: 40px;
}
h2{
	font-family: 'Nunito';
	letter-spacing: .07em;
}
h3{
	font-family:'Nunito';
	letter-spacing: .05em;
}
ul{
	line-height:2.25em;
	letter-spacing: .07em;
}
a{
	color: #666;
	text-decoration: none;
}


.right {
	float: right;

}
.right li{
	font-size: 25px;
}

.frame {
	border: 1px solid #666;
	padding: 5px;
}


.container {
	margin: 0 auto;
	width: 95%;
	max-width: 75%; 


}

.content {
	text-align: left;
	overflow: auto;

}
#third ul{
	list-style-type: square;
}
#fourth ul{
	list-style-type: square;
}

#first{
	background: url(../img/stock.jpg);
	-webkit-background-size: cover;
  	background-size: cover;

	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;

}

.main-title{
	
	font-family:'Quicksand',sans-serif; 

	padding-left: 25px;
	font-size: 40px;
	color: white;
}
.main-menu{
	font-weight:bold;
	font-family: 'Nunito';
	background:white;
}
#CSC{
	position: absolute;
	left:48%;
	letter-spacing: .15em;
	

}
#home{
	position: absolute;
	left:90%;
}

.tagline p{
	max-width: 100%
}
#page-footer {
	height: 50px;
	background:#eee;
	position: relative;
	font-family: 'Nunito';
	padding-bottom: 20px;

}
#page-footer ul{
	padding-top:9px;
	display: flex;
	list-style-type: none;
	justify-content: flex-start;
	color: #666;
	font-weight: bold;
}
#csc-footer{
	position: absolute;
	left:83%;
}

.libs{
	float:left;
	max-width: 75%;
	
}
.libs p{
	max-width: 90%;
}

.links{
	float: right;
	max-width: 25%;

}
.links li{
	font-size: 25px;
}