
p { margin-top: 0; 
	line-height: 1.25em;
	font-family: 'Nunito';

}

h1{
	letter-spacing: .15em;
	font-family: 'Quicksand', sans-serif;
	font-size: 40px;
}
h2{
	font-family: 'Nunito';
	letter-spacing: .07em;
}
h3{
	font-family:'Nunito';
	letter-spacing: .05em;
}

a{
	color: #666;

	text-decoration: none;
}



.right {
	float: right;
	margin-left: 15px;
}

.frame {
	border: 1px solid #666;
	padding: 5px;
}


.container {
	margin: 0 auto;
	width: 95%;
	max-width: 75%; 


}

.content {
	text-align: left;
	overflow: auto;

}

#first{
	background: url(../img/stock.jpg);
	-webkit-background-size: cover;
  	background-size: cover;

	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;

}


.main-title{
	
	font-family:'Quicksand',sans-serif; 

	padding-left: 25px;
	font-size: 40px;
	color: white;
	/*-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;*/
}
.main-menu{
	font-weight:bold;
	font-family: 'Nunito';
	background:white;
}
.CSC{
	position: absolute;
	left:48%;
	letter-spacing: .15em;
	

}
.home{
	position: absolute;
	left:90%;
}